@{
    ViewData["Title"] = "Home Page";
}

<div id="mainContainer">

    <div class="text-center" id="loginContainer">
        <h1 class="display-4">TodoApp</h1>
        <h4>Inicie sesión para acceder a su TodoApp</h4>
        <form>
            <div class="mb-3">
                <label for="nameInput" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nameInput">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput">
            </div>
            <button class="btn btn-primary" id="sendBtn">Enviar</button>
        </form>
    </div>

    <div id="groupContiner" style="display: none;">
        <h6>Carpetas</h6>
        <div id="groupContainer"></div>
        <div>
            <input type="text" id="groupInput" />
            <div class="btn btn-success" id="addGroupBtn">Agregar</div>
        </div>
    </div>

    <script type="text/html" id="groupRowTempalte">
        <div id="groupRowTempalte">
            <div name="name"></div>
            <div class="btn btn-info" name="todosBtn">Ver tareas</div>
            <div class="btn btn-danger" name="deleteGroupBtn">Eliminar</div>
        </div>
    </script>

    <div id="TodoContiner" style="display: none;">
        <h6>Carpetas > </h6>
        <div name =""></div>
        <div>
            <input type="text" id="todoInput" />
            <div class="btn btn-success">Agregar</div>
        </div>
    </div>

    <script type="text/html" id="groupRowTempalte">
        <div>
            <input type="checkbox" name="name" value="" />
            <div name="name"></div>
            <div class="btn btn-danger">Eliminar</div>
        </div>
    </script>
</div>
