<mat-toolbar color="primary" class="toolbar-container">
    <mat-icon color="accent">checklist</mat-icon>
    <div style="flex: 1 0 0">
        <span style="padding-left: 0.5em;">TodoApp</span>
    </div>
    <div *ngIf="authSrv.isAtuhenticated()">
        <button mat-raised-button color="accent" (click)="logout()">
            <mat-icon style="margin-right: 5px;">logout</mat-icon>Cerrar sesión
        </button>
    </div>
    <div *ngIf="!authSrv.isAtuhenticated()">
        <button mat-button [matMenuTriggerFor]="menu" color="accent">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" color="accent">
            <button mat-menu-item routerLink="login">
                <mat-icon color="accent">login</mat-icon>Iniciar sesión
            </button>
            <button mat-menu-item routerLink="signup">
                <mat-icon color="accent">
                    person_add
                </mat-icon>Registrarse
            </button>
        </mat-menu>

    </div>
</mat-toolbar>