<div class="signup-main-container">

    <form [formGroup]="signupForm" (ngSubmit)="signup()" class="flex-column-centered-container">
        <mat-card class="flex-column-centered-container">
            <mat-card-header>
                <h1>Registrarse</h1>
            </mat-card-header>
            <mat-card-content class="flex-column-centered-container">

                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su email</mat-label>
                    <input matInput placeholder="nombre@ejemplo.com" formControlName="email" required email>
                    <mat-error *ngIf="this.signupForm.get('email').invalid">{{errorByFromControlName("email")}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su contraseña</mat-label>
                    <input matInput type="password" formControlName="password" required min="4">
                    <mat-error *ngIf="this.signupForm.get('password').invalid">{{errorByFromControlName("password")}}
                    </mat-error>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="this.signupForm.invalid">Registrarse</button>
            </mat-card-actions>
        </mat-card>
    </form>

</div>